body{
    background-color:Black;
}

body {
    text-align: center;
}

h1 { 
    color: blue;
}

p {
    color: red;
}

img{
    width:200px;
}


my-tag { 
    color: Blue;
}

.likes{
       color:Blue;
}

